.header {
    padding: 3rem;
    -webkit-box-shadow: 3px 22px 55px -22px rgba(0,0,0,0.17);
    -moz-box-shadow: 3px 22px 55px -22px rgba(0,0,0,0.17);
    box-shadow: 3px 22px 55px -22px rgba(0,0,0,0.17);
    width: 100%;

}

.header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.header nav ul li {
    list-style-type: none;
    font-size: 1.7em;
}

[active] {
    border-bottom: .2rem solid #000;
}

.info  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 16rem);
    gap: 1rem;
}

.info h1 {
    font-size: 3rem;
    text-align: center;
}

.info p {
    font-size: 1.8rem;
    max-width: 50rem;
    text-align: center;
}

.hability h2 {
    font-size: 1.8rem;
    
}

.hability {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.hability ul {
   margin: 1rem 0;
    
}

.hability ul li {
    font-size: 1.6rem;
    
}

.tec {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
    max-width: 40rem;
}

.tec img {
    width: 5rem;
}

.tec img:hover {
    transform: translateY(-.2rem);
}

.footer {
    border-top: .1rem solid #d2cbcb;
}

.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.contents p {
    font-size: 1.2rem;
}

.contents p strong {
    font-weight: 500;
}

.socials {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.socials a img {
    width: 2rem;
    height: auto;
}

.socials a img:hover {
    transform: translateY(-.2rem);

}